.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  text-align: center;
  color: white;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
